[Unit]
Description=Minimal X Server (Kiosk)
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/Xorg :0 -ac
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
